<div>
    <nav>
        <ul>
            <li><a href="/">Główna 🏠</a></li>
			<li><a href="/zarejestruj-przejazd">Zarejestruj przejazd 🏎️</a></li> 
			<li><a href="/szukaj-kierowcy">Szukaj kierowcy 🌐</a></li>
			<li><a href="/nowy-tor">Zgłoś nowy tor! ✅</a></li>
            <li><a href="/rejestracja">Zarejstruj się! 📝</a></li>
        </ul>
    </nav>
<h1>404</h1>
<h2>Taka strona nie istnieje.</h2>

	</div>
</div>
<style>

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

body {
	font-size:22px;
	line-height: 32px;
	background-image: url('https://i.ibb.co/BKJmd0Z/hd-wallpaper-2695569-1920.jpg');
	word-wrap:break-word !important;
	font-family: 'Nunito';
	}

h1 {
	font-size: 400px;
	text-align: center;
	color: rgb(255, 255, 255);
}
h2 {
	font-size: 60px;
	text-align: center;
	color: rgb(255, 255, 255);
}

h3 {
	font-size: 30px;
	text-align: center;
	color: rgb(255, 255, 255);
}

h3 a {
	color: rgb(255, 255, 255);
}

a {
	color: rgb(255, 255, 255);
}

h1 {
	margin-top: 100px;
	text-align:center;
	font-size:60px;
	font-family: 'Nunito';
	}


p {
	text-align: center;
	color: #ffffff;
}

nav {
	margin: 50px 0;
	background-color: #148bec;
}

nav ul {
	padding: 0;
  margin: 0;
	list-style: none;
	position: relative;
	}
	
nav ul li {
	display:inline-block;
	background-color: #148bec;
	}

nav a {
	display:block;
	padding:0 10px;	
	color:#FFF;
	font-size:20px;
	line-height: 60px;
	text-decoration:none;
}
.terminarz-button{
  font-family: 'Nunito';
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: 100px;
  margin-bottom: 60px;
  -webkit-appearance: none;
  appearance: none;
  color:#fff;
  background-image: url("https://cdn.pixabay.com/photo/2017/03/25/17/55/colorful-2174045_960_720.png");
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  margin-left: 30;
}
.tabela-button{
  font-family: 'Nunito';
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: 100px;
  margin-bottom: 60px;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("https://cdn.pixabay.com/photo/2017/09/07/10/09/triangle-2724449_960_720.png");
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  margin-left: 30;
}
.wyniki-button{
  font-family: 'Nunito';
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: 100px;
  margin-bottom: 60px;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("https://cdn.pixabay.com/photo/2016/06/02/02/33/triangles-1430105_960_720.png");
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  margin-left: 30;
}

nav a:hover { 
	background-color: #000000; 
}

nav ul ul {
	display: none;
	position: absolute; 
	top: 60px;
}

nav ul li:hover > ul {
	display:inherit;
}

nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}
nav ul ul ul li {
	position: relative;
	top:-60px; 
	left:170px;
}
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }
:root {
	font-size: 10px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
}

.container {
	max-width: 100rem;
	margin: 0 auto;
	padding: 0 2rem 2rem;
}

.heading {
	font-family: 'Nunito';
	font-size: 4rem;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	padding: 3.5rem 0;
	color: #000000;
}

.heading span {
	display: block;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	margin: -1rem -1rem;
}

.gallery-item {
	flex: 1 0 24rem;
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);
}
</style>