<div id="container">
    <nav>
        <ul>
            <li><a href="/">Główna 🏠</a></li>
            <li><a href="/zarejestruj-przejazd">Zarejestruj przejazd 🏎️</a></li>
			      <li><a href="/szukaj-kierowcy">Szukaj kierowcy 🌐</a></li>
            <li><a href="/nowy-tor">Zgłoś nowy tor! ✅</a></li>
            <li><a href="/rejestracja"><b>Zarejstruj się! 🏎️</b></a></li>
        </ul>
    </nav>
	<div class="login-box">
		<h2>Zarejestruj się</h2>
		<form action = "/rejestracja-zapisz" method=POST enctype = "multipart/form-data">
		  <div class="user-box">
			<input type="text" name="idkierowcy" required="">
			<label>Id kierowcy (nazwa użytkownika)</label>
		  </div>
		  <div class="user-box">
			<input type="password" name="password" id="myInput" required="">
			<p>Pokaż hasło<input type="checkbox" onclick="myFunction()"></p>
			<label>Hasło</label>
		  </div>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<div class="button2"><input type="submit" value="Rejestruje się!"></div>
		</form>
	  </div>
	<script>  
function myFunction() {
  var x = document.getElementById("myInput");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
	</script>  
<style>
    /* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

body {
	font-size:22px;
	line-height: 32px;
	background-image: url("https://i.ibb.co/BKJmd0Z/hd-wallpaper-2695569-1920.jpg");
	word-wrap:break-word !important;
	font-family: 'Nunito';
	}

h1 {
	font-size: 60px;
	text-align: center;
	color: #FFF;
}	

h3 {
	font-size: 30px;
	text-align: center;
	color: rgb(0, 0, 0);
}

h3 a {
	color: rgb(0, 0, 0);
}

h1 {
	margin-top: 100px;
	text-align:center;
	font-size:60px;
	font-family: 'Nunito';
	}


p {
	text-align: center;
	color: #FFF;
}

nav {
	margin: 50px 0;
	background-color: #148bec;
}

nav ul {
	padding: 0;
  margin: 0;
	list-style: none;
	position: relative;
	}
	
nav ul li {
	display:inline-block;
	background-color: #148bec;
	}

nav a {
	display:block;
	padding:0 10px;	
	color:#FFF;
	font-size:20px;
	line-height: 60px;
	text-decoration:none;
}
textarea{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
input{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
nav a:hover { 
	background-color: #000000; 
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute; 
	top: 60px; /* the height of the main nav */
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers	*/
nav ul ul ul li {
	position: relative;
	top:-60px; 
	left:170px;
}

/* Change this in order to change the Dropdown symbol */
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }
input[type=submit]{
  background-color: #e9dbdb;
  border: none;
  color: rgb(0, 0, 0);
  padding: 16px 32px;
  font-size: small;
  margin: 4px 2px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
body {
  margin:0;
  padding:0;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

</style>